*{margin: 0px;padding: 0px;}

.tt a.nuthire.btn.btn-primary {
    width: 180px;
    background: black;
    border: none;
    border-radius: 0px;
}

.tt p {
    color: #373a3c;
    font-size: 16px;
    line-height: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 34px;
}

.tt h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 22px;
}

.tt img {
    border-radius: 50%;
    margin-bottom: 50px;
}

.tt {
    z-index: 2;
    position: relative;
    padding-top: 24%;
}

.khoitt1 {
    height: 100%;
    width: 100%;
    background: #e9585f;
    position: relative;
}

.khoitt1:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background: #e4555b;
    z-index: 1;
}

body,html {
    width: 100%;
    height: 100%;
}

li.nav-item {
    padding: 0px;
    margin: 0 17PX;
}

a.nav-link {
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 14px;
    color: #101010;
    line-height: 100px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-white {
    margin: 0px;
    padding: 0px;
    height: 100px;
}

@media (max-width: 576px){
	*{}

.tt img {
    width: 160px;
}

.tt {
    top: 72px;
}

ul.navbar-nav.ml-auto {
    background: white;
    border-top: 1px solid #d8d8d8;
}

a.nav-link {
    line-height: 30px;
    text-align: center;
    border-top: 1px dashed #d8d8d8;
}

a.navbar-brand {
    display: block;
    text-align: center;
    width: 80%;
}
}