*{margin: 0px;padding: 0px;}

li.nav-item {
    padding: 0px;
    margin: 0 17PX;
}

a.nav-link {
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 14px;
    color: #101010;
    line-height: 100px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-white {
    margin: 0px;
    padding: 0px;
    height: 100px;
}

@media (max-width: 576px){
	*{}

a.nav-link {
    line-height: 30px;
    text-align: center;
}

a.navbar-brand {
    display: block;
    text-align: center;
    width: 80%;
}
}