*{margin: 0px;padding: 0px;}

.khoitt1 {
    height: 100%;
    width: 100%;
    background: #e9585f;
    position: relative;
}

.khoitt1:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background: #e4555b;
}

body,html {
    width: 100%;
    height: 100%;
}

li.nav-item {
    padding: 0px;
    margin: 0 17PX;
}

a.nav-link {
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 14px;
    color: #101010;
    line-height: 100px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-white {
    margin: 0px;
    padding: 0px;
    height: 100px;
}

@media (max-width: 576px){
	*{}

a.nav-link {
    line-height: 30px;
    text-align: center;
}

a.navbar-brand {
    display: block;
    text-align: center;
    width: 80%;
}
}